{% extends "layout.html" %}

{% block pagetitle %} Reset Password {% endblock %}
{% block title %} Reset Password {% endblock %}
{% block breadcrumb %} Reset Password {% endblock %}


{% block main %}
    <section class="bg-gray wow fadeIn">
        <div class="container">
            <div class="row">
                <div class="col-md-5 col-sm-8 col-xs-11 center-col xs-no-padding">
                    <h3>Password reset sent</h3>
                    <br>
                    <p>We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.<p>
                    <p>If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.</p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}