{% extends "layout.html" %}

{% block pagetitle %} Reset Password {% endblock %}
{% block title %} Reset Password {% endblock %}
{% block breadcrumb %} Reset Password {% endblock %}

{% block main %}
    <section class="bg-gray wow fadeIn">
        <div class="container">
            <div class="row">
                <div class="col-md-5 col-sm-8 col-xs-11 center-col xs-no-padding">
                    <h3>Password reset Complete</h3>
                    <br>
                    <p>Your Password Reset. You May go Ahead And Login Now <p>
                    <a href="{% url 'Accounts:login' %}" class="btn highlight-button-dark btn-small btn-round margin-five no-margin-right">Login</a>
                </div>
            </div>
        </div>
    </section>
{% endblock %}