{% extends "layout.html" %}

{% block pagetitle %} Reset Password {% endblock %}
{% block title %} Reset Password {% endblock %}
{% block breadcrumb %} Reset Password {% endblock %}


{% block main %}
    <section class="bg-gray wow fadeIn">
        <div class="container">
            <div class="row">
                <div class="col-md-5 col-sm-8 col-xs-11 center-col xs-no-padding">
                    <h3>Enter New Password</h3>
                    <br>
                    <form method="POST">
                        {% csrf_token %}
                        <div class="fieldWrapper">
                            <label for="password" class="text-uppercase">New password:</label>
                            {{ form.new_password1 }}
                        </div>
                        <div class="fieldWrapper">
                            <label for="password" class="text-uppercase">New password confirmation:</label>
                            {{ form.new_password2 }}
                        </div>
                        {% comment %} {{ form }} {% endcomment %}
                        <button class="btn highlight-button-dark btn-small btn-round margin-five no-margin-right" type="submit">Update My Password</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
